<server description="WLP Server configured for basic user authentication and SSL">

	<!-- Enable features -->
	<featureManager>
		<feature>jsp-2.3</feature>
		<feature>jndi-1.0</feature>
		<feature>jaxrs-2.0</feature>
		<feature>cdi-1.2</feature>
		<feature>localConnector-1.0</feature>
		<feature>appSecurity-2.0</feature>
		<feature>ssl-1.0</feature>
    </featureManager>

	<httpEndpoint host="*" httpPort="8080" httpsPort="8443" id="defaultHttpEndpoint">
	</httpEndpoint>

	<logging/>
	
	<applicationMonitor updateTrigger="mbean"/>

	<basicRegistry id="basic" realm="BasicRealm">
		<user name="admin" password="{xor}PjsyNjE="/>
		<user name="user01" password="{xor}Kiw6LW9u"/>
		<user name="user02" password="{xor}Kiw6LW9t"/>
		<user name="guest" password="guest"/>
		<group id="Administrators" name="Administrators">
			<member name="admin"/>
		</group>
		<group id="Users" name="Users">
			<member name="user01"/>
			<member name="user02"/>
		</group>
		<group id="Guests" name="Guests">
			<member name="guest"/>
		</group>
	</basicRegistry>
	
	<keyStore id="defaultKeyStore" location="${server.config.dir}/resources/security/key.jks"
		password="{xor}PDc+MTg6Nis=" updateTrigger="disabled"/>
	<keyStore id="defaultTrustStore" location="${server.config.dir}/resources/security/trust.jks"
		password="{xor}PDc+MTg6Nis=" updateTrigger="disabled"/>
	<ssl clientAuthentication="true" clientAuthenticationSupported="true" id="mySSLSettings" sslProtocol="TLS" 
		keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore" securityLevel="HIGH"
		serverKeyAlias="default" clientKeyAlias="datevds01"/>
	<sslDefault sslRef="mySSLSettings"/>
	
	<webAppSecurity allowFailOverToBasicAuth="true" displayAuthenticationRealm="true"/>

	<webApplication id="ResourceServer" name="ResourceServer" contextRoot="ResourceServer" location="ResourceServer.war">
		<application-bnd>
			<security-role name="AdministratorRole">
				<group name="Administrators"></group>
			</security-role>
			<security-role name="UserRole">
				<group name="Users"></group>
			</security-role>
			<security-role name="GuestRole">
				<group name="Guests"></group>
			</security-role>
		</application-bnd>
	</webApplication>

</server>